<head>
      <meta charset = "UTF-8">
      <link rel="stylesheet" href="css/styles.css" />
      <link rel="stylesheet" href="css/base.css" />
      <link rel="stylesheet" href="main.css" />
      <link rel="stylesheet" href="css/codemirror.css" />
      <title>Markdown Editor</title>
</head>

<body>
      <div id = "app"></div>
</body>
