
/**
 * Type Styles
 */

body {
  color: #434148;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

/**
 * Button
 */

.cf-btn,
button:not(.cf-btn) {
  font: inherit;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 0.5em 1em;
  margin: 0 0.2em 0.2em 0;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cf-btn--default,
button:not(.cf-btn) {
  background: gray;
}

.cf-btn--primary {
  color: white;
  background: #00A9EB;
}

.cf-btn--success {
  background: #68970F;
}

.cf-btn--warning {
  background: #FCA520;
}

.cf-btn--error {
  background: #FF3100;
}

.cf-btn__group {
  display: inline-block;
  position: relative;
}

.cf-btn__group .cf-btn {
  margin: 0;
}

.cf-btn__group .cf-btn ~ .cf-btn {
  border-left: none;
}

.cf-btn__group .cf-btn:not(:first-of-type) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.cf-btn__group .cf-btn:not(:last-of-type) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.cf-btn__group .cf-dropdown {
  margin-top: 0.5em;
}

.cf-btn__group .cf-dropdown--left {
  left: 0;
}

.cf-btn__group .cf-dropdown--right {
  right: 0;
}

/**
 * Callout
 */

.cf-callout {
  padding: 1.4em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.cf-callout--default {
  background: #ebebeb;
  border-color: #ccc;
}

.cf-callout__heading,
.cf-callout__content {
  margin: 0;
}

/**
 * Card
 */

.cf-card {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.cf-card__section + .cf-card__section {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.cf-card__content {
  padding: 1.4em;
}

.cf-card__control {
  background: #eee;
  border: 0 solid rgba(0, 0, 0, 0.2);
  border-top-width: 1px;
  padding: 2em;
  vertical-align: top;
  text-align: center;
}

.cf-card__title {
  margin-top: 0;
  font-size: 1.4em;
  list-style: 1;
  margin-bottom: -10px;
}

.cf-card__drawers_container--open {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.cf-card__toolbar {
  padding: 1em;
  overflow: auto;
}

.cf-card__toolbar_links {
  float: right;
}

.cf-card__toolbar_link {
  margin-left: 1em;
}

.cf-card__toolbar_link--open {
  font-weight: bold;
}

.cf-card__drawer--active {
  padding: 1em;
}

.cf-card__message {
  margin-top: 0.5em;
  padding: 0.5em 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.cf-card__message--info {
  background: #00A9EB;
  color: white;
}

.cf-card__message--error {
  background: #FF3100;
  color: white;
}

@media (min-width: 720px) {
  .cf-card__section {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .cf-card__content {
    display: table-cell;
  }

  .cf-card__control {
    display: table-cell;
    width: 40%;
    vertical-align: middle;
    border-top-width: 0;
    border-left-width: 1px;
  }
}

@media (min-width: 1200px) {
  .cf-card__control {
    width: 30%;
  }
}

.cf-card .cf-table {
  border: none;
}

/**
 * Checkbox
 */

.cf-checkbox__input,
.cf-radio__input {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 0.4em;
  height: 1.5em;
  width: 1.5em;
  background: white;
  border: 3px solid #ccc;
}

.cf-checkbox__input {
  border-radius: 3px;
}

.cf-radio__input {
  border-radius: 9999px;
}

.cf-checkbox--checked .cf-checkbox__input,
.cf-radio--checked .cf-radio__input {
  border-color: #00A9EB;
}

.cf-checkbox--checked .cf-checkbox__input::after,
.cf-radio--checked .cf-radio__input::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;

  background: #00A9EB;
}

.cf-checkbox--checked .cf-checkbox__input::after {
  border-radius: 1px;
}

.cf-radio--checked .cf-radio__input::after {
  border-radius: 9999px;
}

/**
 * Code
 */

.cf-code, code {
  display: inline-block;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 0.9em;
  background: #ddd;
  color: #434148;
  border-radius: 2px;
  padding: 0.05em 0.3em;
}

.cf-code__block {
  border: 1px solid #bbb;
  background: #ddd;
  padding: 0.5em 1em;
  border-radius: 2px;
}

.cf-code__block .cf-code {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  border-radius: 0;
}

/**
 * Copyable Textarea
 */

.cf-copyable-textarea__help-text {
  margin-top: 0;
  color: gray;
  font-size: 0.8em;
}

/**
 * Dropdown
 */

.cf-dropdown {
  position: absolute;
  z-index: 1;
  padding: 0;
  margin: 0;
  width: 9999px;
  max-width: 220px;
  list-style: none;
  background: white;
  border-radius: 3px;
  box-shadow:
    0 1px 2px 1px rgba(0, 0, 0, 0.1),
    0 2px 5px 2px rgba(0, 0, 0, 0.1);
}

.cf-dropdown::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 100%;
  width: 10px;
  height: 5px;
  background: red;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
}

.cf-dropdown::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  border: solid transparent;
  border-width: 0 10px 10px 10px;
  border-bottom-color: white;
}

.cf-dropdown--left::before  { left: 10px; }
.cf-dropdown--left::after   { left: 15px; }
.cf-dropdown--right::before { right: 10px; }
.cf-dropdown--right::after  { right: 15px; }

.cf-dropdown__link {
  position: relative;
  z-index: 1;
  border-top: 1px solid #f6f6f6;
}

.cf-dropdown__link:first-child {
  border-top-width: 0;
}

.cf-dropdown__link:first-child a {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.cf-dropdown__link:last-child a {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 4px;
}

.cf-dropdown__link a:hover,
.cf-dropdown__link a:focus {
  background: #f9f9f9;
}

.cf-dropdown__link a {
  display: block;
  padding: 0.4em 0.8em;
  cursor: pointer;
}

.cf-dropdown__separator {
  border-top: 2px solid #eee;
}

.cf-dropdown__separator + .cf-dropdown__link {
  border-top-width: 0;
}

/**
 * Dynamic Content
 */

.cf-dynamic-content {
  position: relative;
  overflow: hidden;
}

/**
 * Flex
 */


@media (min-width: 720px) {
  .cf-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .cf-flex__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .cf-flex__item--collapse {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .cf-flex--thin .cf-flex__item + .cf-flex__item {
    margin-left: 5px;
  }

  .cf-flex--wide .cf-flex__item + .cf-flex__item {
    margin-left: 20px;
  }
}

/**
 * Form
 */

.cf-form {
  background: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.cf-form__header {
  padding: 1em;
  border-bottom: 1px solid #ddd;
}

.cf-form__footer {
  padding: 1em;
  text-align: right;
}

.cf-form__title {
  margin: 0;
}

.cf-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #ddd;
}

.cf-form__fieldset_legend {
  padding: 1em;
}

.cf-form__fieldset_content {
  padding: 1em;
  border: 0 solid #ddd;
  border-top-width: 1px;
  background: #eee;
}

.cf-form__label {
  display: block;
  margin-bottom: 0.2em;
  color: #333;
}

.cf-form__label--hidden {
  display: none;
}

.cf-form__field-error {
  position: relative;
  margin-top: 0.1em;
  padding: 0.5em 1em;

  border: 1px solid #C32600;
  border-bottom-width: 2px;

  font-size: 0.8em;
  font-weight: 600;
  background: #FF3100;
  color: white;
  -webkit-font-smoothing: antialiased;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.cf-form__field-error::before,
.cf-form__field-error::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  border-style: solid;
  border-color: transparent;
}

.cf-form__field-error::before {
  left: 4px;
  border-width: 6px;
  border-bottom-color: #C32600;
}

.cf-form__field-error::after {
  left: 5px;
  border-width: 5px;
  border-bottom-color: #FF3100;
}

.cf-form__field-error p {
  margin: 0;
}

.cf-form__field-error p + p {
  margin-top: 0.5em;
}

@media (min-width: 720px) {
  .cf-form__fieldset_legend {
    float: left;
    width: 30%;
  }


  .cf-form__fieldset_content {
    float: left;
    width: 70%;
    border-top-width: 0;
    border-left-width: 1px;
  }
}

/**
 * Heading
 */

.cf-heading__caption {
  margin-left: 0.3em;
  color: #434148;
  font-size: .8em;
  font-color: #888;
  font-weight: lighter;
}

h2.cf-heading.cf-heading--2 {
  margin-top: 10px;
}

/**
 * Icons
*/

@font-face {
  font-family: 'icons';
  src: url('assets/icons.eot?64gxig');
  src: url('assets/icons.eot?64gxig#iefix') format('embedded-opentype'),
       url('assets/icons.ttf?64gxig')       format('truetype'),
       url('assets/icons.woff?64gxig')      format('woff'),
       url('assets/icons.svg?64gxig#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.cf-icon {
  display: inline;
  width: auto;
  height: auto;
  margin-top: 0;

  line-height: normal;
  vertical-align: baseline;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cf-icon::before {
  display: inline-block;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  text-decoration: inherit;
  speak: none;
}

.cf-icon--border::before {
  border: solid 1px;
  padding: 0.2em 0.25em 0.15em;
  border-radius: 3px;
}

.cf-icon--spin::before {
  display: inline-block;
  animation: cf-icon-spin 2000ms infinite linear;
}

@keyframes cf-icon-spin {
  0%   { transform: rotate(0deg);   }
  100% { transform: rotate(359deg); }
}

.cf-icon--muted::before {
  color: gray;
}

.cf-icon--white::before {
  color: white;
}

.cf-icon--2x::before {
  font-size: 2em;
}

.cf-icon--2x.cf-icon--border::before {
  border-width: 2px;
}

.cf-icon--3x::before {
  font-size: 3em;
}

.cf-icon--3x.cf-icon--border::before {
  border-width: 3px;
}

.cf-icon--4x::before {
  font-size: 4em;
}

.cf-icon--4x.cf-icon--border::before {
  border-width: 4px;
}

.cf-icon--large::before {
  vertical-align: -10%;
  font-size: 1.6em;
}

.cf-icon--xlarge::before {
  font-size: 2.4em;
}

.cf-icon__label {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.cf-icon--caret-up:before           { content: "\e900"; }
.cf-icon--chevron-up:before         { content: "\e901"; }
.cf-icon--caret-down:before         { content: "\e902"; }
.cf-icon--chevron-down:before       { content: "\e903"; }
.cf-icon--caret-left:before         { content: "\e904"; }
.cf-icon--chevron-left:before       { content: "\e905"; }
.cf-icon--caret-right:before        { content: "\e906"; }
.cf-icon--chevron-right:before      { content: "\e907"; }
.cf-icon--ok-sign:before            { content: "\e908"; }
.cf-icon--exclamation-sign:before   { content: "\e909"; }
.cf-icon--info-sign:before          { content: "\e90a"; }
.cf-icon--pause:before              { content: "\e90b"; }
.cf-icon--time:before               { content: "\e90c"; }
.cf-icon--ok:before                 { content: "\e90d"; }
.cf-icon--clipboard:before          { content: "\e90e"; }
.cf-icon--bolt:before               { content: "\e90f"; }
.cf-icon--chart:before              { content: "\e910"; }
.cf-icon--filter:before             { content: "\e911"; }
.cf-icon--flowchart:before          { content: "\e912"; }
.cf-icon--hamburger:before          { content: "\e913"; }
.cf-icon--lock:before               { content: "\e914"; }
.cf-icon--file:before               { content: "\e915"; }
.cf-icon--shield:before             { content: "\e916"; }
.cf-icon--plus:before               { content: "\e917"; }
.cf-icon--search:before             { content: "\e918"; }
.cf-icon--wrench:before             { content: "\e919"; }
.cf-icon--remove:before             { content: "\e91a"; }
.cf-icon--speech:before             { content: "\e91b"; }
.cf-icon--gear:before               { content: "\e91c"; }
.cf-icon--help:before               { content: "\e91d"; }
.cf-icon--widen:before,
.cf-icon--resize-horizontal:before  { content: "\e91e"; }
.cf-icon--calendar:before           { content: "\e91f"; }
.cf-icon--facebook:before           { content: "\e920"; }
.cf-icon--twitter:before            { content: "\e921"; }
.cf-icon--googleplus:before         { content: "\e922"; }
.cf-icon--linkedin:before           { content: "\e923"; }
.cf-icon--upload:before             { content: "\e924"; }
.cf-icon--loading:before            { content: "\e925"; }
.cf-icon--drive:before              { content: "\e926"; }
.cf-icon--happy:before              { content: "\e927"; }
.cf-icon--sad:before                { content: "\e928"; }
.cf-icon--list:before               { content: "\e929"; }
.cf-icon--remove-sign:before        { content: "\e92a"; }

/**
 * Input
 */

.cf-input {
  width: 100%;
  padding: 0.3em 0;
  text-indent: 0.6em;
  font: inherit;
  -webkit-appearance: textfield;
  margin-right: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: white;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.cf-input[type="search"] {
  border-radius: 9999px;
  padding-right: 0.6em;
}

/**
 * Label
 */

.cf-label {
  display: inline-block;
  padding: 0.2em 0.5em;
  margin-right: 0.3em;
  margin-bottom: 0.2em;
  border-radius: 2px;
  font-weight: bold;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.cf-label--default {
  background: #434148;
}

.cf-label--info {
  background: #00A9EB;
}

.cf-label--success {
  background: #68970F;
}

.cf-label--warning {
  background: #FCA520;
}

.cf-label--error {
  background: #FF3100;
}

/**
 * Layout
 */

.cf-layout__container {
  padding: 0 1.5em;
  max-width: 90%;
  margin: 0 auto;
}

.cf-layout__row {
  overflow: hidden;
}

.cf-layout__column {
  float: left;
}

@media (max-width: 720px) {
  .cf-layout__container {
    padding: 0;
    max-width: none;
  }

  .cf-layout__column {
    width: 100% !important;
    float: none;
  }
}

/**
 * Link
 */

a.cf-link {
  color: #00A9EB;
  text-decoration: none;
}

a.cf-link:hover {
  color: #0085be;
}

a.cf-link--disabled {
  text-decoration: none;
  color: gray;
  cursor: default;
}

.special-link {
  color: #FCA520;
}

/**
 * List
 */

.cf-list--unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Loading
 */

.cf-loading {
  display: inline-block;

  line-height: normal;
  vertical-align: baseline;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  animation-name: loading;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;

  transform-origin: center;
}

.cf-loading:before {
  content: "\e925";
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  text-decoration: inherit;
  speak: none;
}

.cf-loading__label {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}

@keyframes loading {
   20% { transform: rotate3d(0, 0, 1,  15deg); }
   40% { transform: rotate3d(0, 0, 1, -10deg); }
   60% { transform: rotate3d(0, 0, 1,   5deg); }
   80% { transform: rotate3d(0, 0, 1,  -5deg); }
  100% { transform: rotate3d(0, 0, 1,   0deg); }
}

/**
 * Modal
 */

.cf-modal__backdrop-scroller {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1040;

  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.cf-modal__backdrop-outer {
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
}

.cf-modal__backdrop {
  display: table-cell;
  vertical-align: middle;

  padding: 20px;
  background: rgba(255, 255, 255, 0.95);

  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: opacity;
}

.cf-modal {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  background: white;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  border-radius: 3px;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 5px 20px rgba(0, 0, 0, 0.05);

  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform, opacity;
}

.cf-modal:focus {
  outline: none;
}

.cf-modal__header {
  position: relative;
  padding: 20px;
  background: #f9f9f9;
  border-bottom: 1px solid #eee;
  border-radius: 2px 2px 0 0;
}

.cf-modal__title {
  margin: 0;
  line-height: 1;
  font-size: 2em;
  word-break: break-all;
  word-break: break-word;
}

.cf-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
  line-height: 1;
  font-weight: 900;
  color: gray;
}

.cf-modal__close::before {
  content: "\00D7";
}

.cf-modal__body {
  padding: 20px;
}

.cf-modal__footer {
  padding: 15px 20px;
  background: #ebebeb;
  border-top: 1px solid #ddd;
  border-radius: 0 0 1px 1px;
}

.cf-modal__actions {
  text-align: right;
}

/**
 * Modal Animations
 */

.cf-transition-modal-appear .cf-modal__backdrop,
.cf-transition-modal-enter .cf-modal__backdrop,
.cf-transition-modal-leave.cf-transition-modal-leave-active .cf-modal__backdrop {
  background: transparent;
}

.cf-transition-modal-appear.cf-transition-modal-appear-active .cf-modal__backdrop,
.cf-transition-modal-enter.cf-transition-modal-enter-active .cf-modal__backdrop,
.cf-transition-modal-leave .cf-modal__backdrop {
  background: rgba(255, 255, 255, 0.95);
}

.cf-transition-modal-appear-active .cf-modal__backdrop,
.cf-transition-modal-enter-active .cf-modal__backdrop,
.cf-transition-modal-leave-active .cf-modal__backdrop {
  -webkit-transition: background 200ms ease-in;
  transition: background 200ms ease-in;
}

.cf-transition-modal-appear .cf-modal,
.cf-transition-modal-enter .cf-modal {
/*.cf-transition-modal-leave.cf-transition-modal-leave-active .cf-modal {*/
  opacity: 0;
  -webkit-transform: translate(0, -100px);
  /*-webkit-transform: matrix3d(
    1, 0, 0, 0,
    0, 1, 0, -0.0002,
    0, 0, 1, 0,
    0, -10, 0, 1.1
  );
  transform: matrix3d(
    1, 0, 0, 0,
    0, 1, 0, -0.0002,
    0, 0, 1, 0,
    0, -10, 0, 1.1
  );*/
}

.cf-transition-modal-appear.cf-transition-modal-appear-active .cf-modal,
.cf-transition-modal-enter.cf-transition-modal-enter-active .cf-modal,
.cf-transition-modal-leave .cf-modal {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  /*-webkit-transform: matrix3d(
    1, 0, 0, 0,
    0, 1, 0, 0,
    0, 0, 1, 0,
    0, 0, 0, 1
  );
  transform: matrix3d(
    1, 0, 0, 0,
    0, 1, 0, 0,
    0, 0, 1, 0,
    0, 0, 0, 1
  );*/
}

.cf-transition-modal-leave.cf-transition-modal-leave-active .cf-modal {
  opacity: 0;
  -webkit-transform: translate(0, 20px);
}

.cf-transition-modal-appear-active .cf-modal,
.cf-transition-modal-enter-active .cf-modal,
.cf-transition-modal-leave-active .cf-modal {
  transition: opacity 200ms ease, transform 200ms ease;
}

/**
 * Notifications
 */

.cf-notifications {
  margin-top: 1em;
  margin-bottom: 1em;
}

.cf-notifications__item {
  position: relative;
  padding: 1em;
  background: #eee;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
}

.cf-notifications__item + .cf-notifications__item {
  margin-top: 0.5em;
}

.cf-notifications__item--persist::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.05);
}

.cf-notifications__global_container {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 25%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.cf-notifications__global_container .cf-notifications {
  margin-top: 0;
  margin-bottom: 0;
}

.cf-notifications__global_container .cf-notifications__item {
  border-radius: 0;
}

.cf-notifications__global_container .cf-notifications__item + .cf-notifications__item {
  margin-top: 0;
}

.cf-notifications__item--success {
  background: #68970F;
}

.cf-notifications__item--error {
  background: #FF3100;
}

.cf-notifications__item--info {
  background: #00A9EB;
}

.cf-notifications__item--warning {
  background: #FCA520;
}

.cf-notifications__item_progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.cf-notifications__item_progress--active {
  width: 0;
  transition: width 0ms linear;
}

.cf-notifications__item_message {
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: bold;
}

.cf-notifications__item_close {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  padding: 0.25em 1.2em;
  cursor: pointer;
}

.cf-notifications__item_close:hover {
  background: rgba(0, 0, 0, 0.1);
}

.cf-notifications__item_close::before {
  content: '\00D7';
  font-size: 2em;
}

/**
 * Page
 */

.cf-page__title {
  margin-bottom: 0;
}

.cf-page__subtitle {
  margin-top: 0;
  font-size: 1.6em;
  color: gray;
}

/*
 * Pagination
 */

.cf-pagination::after,
.cf-pagination__list::after {
  content: "";
  display: table;
  clear: both;
}

.cf-pagination__list {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.cf-pagination__item {
  float: left;
  position: relative;
  background: white;
  color: #00A9EB;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom-width: 2px;
}

.cf-pagination__item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.cf-pagination__item:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.cf-pagination__item + .cf-pagination__item {
  margin-left: -1px;
}

.cf-pagination__item--active {
  background: #00A9EB;
  border-color: #0C7FE9;
  color: white;
  z-index: 1;
}

.cf-pagination__item--disabled {
  background: #eee;
  color: #666;
}

.cf-pagination__link {
  position: relative;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.cf-pagination__link:focus {
  z-index: 1;
}

.cf-pagination__item--active .cf-pagination__link,
.cf-pagination__item--disabled .cf-pagination__link {
  cursor: default;
}

/**
 * Progress
 */

.cf-progress {
  position: relative;
}

.cf-progress__bar {
  width: 100%;
  height: 2em;
  -webkit-appearance: none;
  appearance: none;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.cf-progress__bar::-webkit-progress-bar {
  background-color: transparent;
}

.cf-progress__bar::-webkit-progress-value {
  background-color: #00A9EB;
  color: #00A9EB;
  transition: width 0.5s ease;
  border-bottom: 2px solid #0C7FE9;
  border-radius: 1px;
  box-shadow: 0 0 0 1px #0C7FE9;
}

/* Mozilla uses progress-bar as the value */
.cf-progress__bar::-moz-progress-bar {
  background-color: #00A9EB;
  color: #00A9EB;
  transition: width 0.5s ease;
  border-bottom: 2px solid #0C7FE9;
  border-radius: 1px;
  box-shadow: 0 0 0 1px #0C7FE9;
}

.cf-progress__bar:indeterminate {
  background-color: #FCA520;
  color: #FCA520;
}

.cf-progress__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cf-progress__items::after {
  content: "";
  display: table;
  clear: both;
}

.cf-progress__item {
  float: left;
  text-align: center;
}

.cf-progress__item .cf-link {
  display: block;
  padding-top: 0.5em;
}

.cf-progress__item .cf-link:hover {
  border-bottom: 0;
}

.cf-progress__item--active {
  font-weight: bold;
}

/**
 * Select
 */

.cf-select {
  /*margin: 1em 0;*/
}

.cf-select label {
  display: block;
  font-size: 0.7em;
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
}

/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/keystonejs/react-select
*/
.Select {
  position: relative;
}
.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Select.is-disabled > .Select-control {
  background-color: #f6f6f6;
}
.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
}
.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #08c #0099e6 #0099e6;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px rgba(0, 136, 204, 0.5);
}
.Select-placeholder {
  bottom: 0;
  color: #434148;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value > .Select-control > .Select-placeholder {
  color: #333;
}
.Select-value {
  color: #434148;
  left: 0;
  padding: 8px 52px 8px 10px;
  position: absolute;
  right: -15px;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value > .Select-control > .Select-value {
  color: #333;
}
.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.Select-input > input {
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  height: 34px;
  margin: 0;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px;
}
.Select-clear-zone:hover {
  color: #D0021B;
}
.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}
.Select--multi .Select-clear-zone {
  width: 17px;
}
.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}
.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666;
}
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  box-sizing: border-box;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-focused {
  background-color: #f2f9fc;
  color: #333;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: not-allowed;
}
.Select-noresults,
.Select-search-prompt,
.Select-searching {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0;
}
.Select--multi.has-value .Select-input {
  margin-left: 5px;
}
.Select-item {
  background-color: #f2f9fc;
  border-radius: 2px;
  border: 1px solid #c9e6f2;
  color: #08c;
  display: inline-block;
  font-size: 0.9em;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}
.Select-item-icon,
.Select-item-label {
  display: inline-block;
  vertical-align: middle;
}
.Select-item-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}
.Select-item-label .Select-item-label__a {
  color: #08c;
  cursor: pointer;
}
.Select-item-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c9e6f2;
  padding: 1px 5px 3px;
}
.Select-item-icon:hover,
.Select-item-icon:focus {
  background-color: #ddeff7;
  color: #0077b3;
}
.Select-item-icon:active {
  background-color: #c9e6f2;
}
.Select--multi.is-disabled .Select-item {
  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  color: #888;
}
.Select--multi.is-disabled .Select-item-icon {
  cursor: not-allowed;
  border-right: 1px solid #d9d9d9;
}
.Select--multi.is-disabled .Select-item-icon:hover,
.Select--multi.is-disabled .Select-item-icon:focus,
.Select--multi.is-disabled .Select-item-icon:active {
  background-color: #f2f2f2;
}
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}

/**
 * Tabs
 */

.cf-tabs {
  border-radius: 3px;
}

.cf-tabs__group {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  table-layout: fixed;
}

.cf-tabs__item {
  display: table-cell;
  padding: 1em;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.cf-tabs__item:first-child {
  border-top-left-radius: 3px;
}

.cf-tabs__item:last-child {
  border-top-right-radius: 3px;
}

.cf-tabs__item + .cf-tabs__item {
  border-left: 0;
}

.cf-tabs__item--active {
  background: white;
  border-bottom: 0;
}

.cf-tabs__panel {
  background: white;
  padding: 2em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 0 !important; /* https://github.com/ben-eb/cssnano/issues/160 */
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/**
 * Table
 */

.cf-table {
  width: 100%;
  background: white;
  border-spacing: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.cf-table--striped .cf-table__row:nth-child(odd) .cf-table__cell {
  background: #f3f3f3;
}

.cf-table__head {
  background: #f9f9f9;
  text-align: left;
}

.cf-table__cell {
  padding: 0.5em 1em;
}

.cf-table__row {
  transition: none;
}

.cf-table__row--default {
  transition: background 1000ms ease;
}

.cf-table__row--success {
  background: #BBD291;
}

/**
 * Text
 */

/**
 * Text Size
 */

.cf-text--normal {
  font-size: 1em;
  font-weight: normal;
}

.cf-text--small {
  font-size: 0.8em;
  line-height: 1.3;
}

/**
 * Text Align
 */

.cf-text--start {
  text-align: left;
}

.cf-text--center {
  text-align: center;
}

.cf-text--justify {
  text-align: justify;
}

.cf-text--end {
  text-align: right;
}

/**
 * Text Case
 */

.cf-text--capitalize {
  text-transform: capitalize;
}

.cf-text--titlecase:first-word {
  text-transform: capitalize;
}

.cf-text--lowercase {
  text-transform: lowercase;
}

.cf-text--uppercase {
  text-transform: uppercase;
}

/**
 * Text Colors
 */

.cf-text--info {
  color: #00A9EB;
}

.cf-text--success {
  color: #68970F;
}

.cf-text--warning {
  color: #FCA520;
}

.cf-text--error {
  color: #FF3100;
}

.cf-text--muted {
  color: gray;
}

/**
 * Textarea
 */

.cf-textarea {
  width: 100%;
  resize: vertical;
  font: inherit;
  margin: 0;
  padding: 0.3em 0.6em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: white;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/**
 * Toggle
 */

.cf-toggle {
  display: block;
  position: relative;
  height: 3em;
  width: 8em;
  background: gray;
  border-radius: 3px;
  border: 1px solid gray;
  cursor: pointer;
}

.cf-toggle--active {
  border-color: #00A9EB;
}

.cf-toggle::before,
.cf-toggle::after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  line-height: 3em;
  text-align: center;
  color: white;
}

.cf-toggle::before {
  content: "On";
  left: 0;
  background: #00A9EB;
}

.cf-toggle::after {
  content: "Off";
  right: 0;
}

.cf-toggle__checkbox,
.cf-toggle__label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.cf-toggle__handle {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  background: white;
  border-radius: 2px;
  transition: left 100ms ease;
}

.cf-toggle__handle::before {
  content: "\e904  \e906";
  font-family: "icons";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ccc;
}

.cf-toggle--active .cf-toggle__handle {
  left: 50%;
}

.cf-toggle__checkbox:focus ~ .cf-toggle__handle {
  outline: 2px solid #00A9EB;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/**
 * Tooltip
 */

.tooltip-element,
.tooltip-element:after,
.tooltip-element:before,
.tooltip-element *,
.tooltip-element *:after,
.tooltip-element *:before {
  box-sizing: border-box;
}

.tooltip-element {
  position: absolute;
  display: none;
}

.tooltip-element.tooltip-open {
  display: block;
}

.tooltip-element {
  max-width: 100%;
  max-height: 100%;
}

.tooltip-element .tooltip-content {
  border-radius: 5px;
  position: relative;
  font-family: inherit;
  background: #000;
  color: #eee;
  padding: 1em;
  font-size: 1.1em;
  line-height: 1.5em;
}

.tooltip-element .tooltip-content:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-width: 8px;
  border-style: solid;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-center .tooltip-content {
  margin-bottom: 8px;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-center .tooltip-content:before {
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-top-color: #000;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-center .tooltip-content {
  margin-top: 8px;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-center .tooltip-content:before {
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  border-bottom-color: #000;
}

.tooltip-element.tooltip-element-attached-right.tooltip-element-attached-middle .tooltip-content {
  margin-right: 8px;
}

.tooltip-element.tooltip-element-attached-right.tooltip-element-attached-middle .tooltip-content:before {
  left: 100%;
  top: 50%;
  margin-top: -8px;
  border-left-color: #000;
}

.tooltip-element.tooltip-element-attached-left.tooltip-element-attached-middle .tooltip-content {
  margin-left: 8px;
}

.tooltip-element.tooltip-element-attached-left.tooltip-element-attached-middle .tooltip-content:before {
  right: 100%;
  top: 50%;
  margin-top: -8px;
  border-right-color: #000;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-bottom .tooltip-content {
  margin-top: 8px;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-bottom .tooltip-content:before {
  bottom: 100%;
  left: 8px;
  border-bottom-color: #000;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-bottom .tooltip-content {
  margin-top: 8px;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-bottom .tooltip-content:before {
  bottom: 100%;
  right: 8px;
  border-bottom-color: #000;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-top .tooltip-content {
  margin-bottom: 8px;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-top .tooltip-content:before {
  top: 100%;
  left: 8px;
  border-top-color: #000;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-top .tooltip-content {
  margin-bottom: 8px;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-top .tooltip-content:before {
  top: 100%;
  right: 8px;
  border-top-color: #000;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content {
  margin-right: 8px;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content:before {
  top: 8px;
  left: 100%;
  border-left-color: #000;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content {
  margin-left: 8px;
}

.tooltip-element.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content:before {
  top: 8px;
  right: 100%;
  border-right-color: #000;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content {
  margin-right: 8px;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content:before {
  bottom: 8px;
  left: 100%;
  border-left-color: #000;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content {
  margin-left: 8px;
}

.tooltip-element.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content:before {
  bottom: 8px;
  right: 100%;
  border-right-color: #000;
}

.tooltip-element {
  pointer-events: none;
}

.tooltip-element .tooltip-content {
  padding: 0.5em 1em;
}